<div class='general-config-container col s12'>
  <h4>
    <i class='material-icons prefix'>import_contacts</i>
    <span>Manual de Utilização</span>
  </h4>

  <div class="row description">
    <form>

      <p>O SisCEData possui como objetivo auxiliar a gestão de plantações por meio da configuração do veículo autônomo utilizado para a coleta de dados e exibição destes dados para o usuário.
      <p>O sistema é dividido em quatro módulos, sendo estes: 'Configurações Gerais', 'Minhas Medições', 'Calibração do Sensor' e 'Instruções de Uso'. Além destes módulos, na página inicial é possível ver status da conexão com o veículo e iniciar o seu funcionamento.

<br>
<br>
      <div class='row buttons'>
        <button class='btn waves-effect waves-light toggle__button1 js-toggle__button1' type='button'>
        Configurações Gerais
          <i class='material-icons right'>swap_vert</i>
        </button>
      </div>

      <div style="display: none;" class="toggle__text1 js-toggle__text1">
        <p>Ao entrar no módulo "Configurações Gerais", é possível obter os dados coletados pelo veículo e também recuperar medições que porventura foram perdidas do servidor local clicando em “Sincronizar Dados”.
        <p>Características relativas a plantação e a medições também devem ser adicionadas. O usuário deve inserir o número de fileira a serem medidas, o tamanho de cada fileira, em metros, e o número de medições por fileira. Configurações relativas à rede de acesso não devem ser alteradas arbitrariamente.
      </div>

<br>
      <div class='row buttons'>
        <button class='btn waves-effect waves-light toggle__button2 js-toggle__button2' type='button'>Minhas Medi&ccedil;&otilde;es
          <i class='material-icons right'>swap_vert</i>
        </button>
      </div>

      <div style="display: none;" class="toggle__text2 js-toggle__text2">
        <p>Dentro do módulo "Minhas Medições" pode-se obter as informações coletadas pelo veículo. Para que os dados sejam acessados, é necessário primeiramente sincronizar os dados coletados na opção “Sincronizar Dados”, dentro do módulo “Configurações Gerais”. Após isso, basta clicar no botão "Ler", onde dados de umidade do solo, umidade do ar e temperatura do ar estarão disponíveis. Como observação, a umidade do solo ideal para plantações de morango deve estar entre 20% e 21%.
      </div>

<br>
      <div class='row buttons'>
        <button class='btn waves-effect waves-light toggle__button3 js-toggle__button3' type='button'>Calibra&ccedil;&atilde;o do sensor
          <i class='material-icons right'>swap_vert</i>
        </button>
      </div>

      <div style="display: none;" class="toggle__text3 js-toggle__text3">
        <p>A calibração do sensor de umidade do solo é executada no módulo "Calibração do Sensor". Para realizar a calibração é necessário seguir os procedimentos abaixo:
        <ol>
          <li>Coletar uma amostra do solo com massa de aproximadamente 100 gramas.
          <li>Realizar a secagem da amostra em um micro-ondas, com potência entre 60% a 80%, durante 4 minutos.
          <li>Pesar a amostra de solo seco e verificar se a mesma continua com 100 gramas. Caso seja verificado um valor acima de 100 gramas, retirar o excesso. Caso não atinja esse valor, será necessário completar a amostra e repetir o processo de secagem.	4	Umedecer a amostra com 5 gramas de água destilada.
          <li>Misturar bem até a amostra ficar homogênea.
          <li>Realizar a medição dessa amostra com o sensor de umidade.
			    <li>O valor de 5% obtido a partir da medição do sensor indicará que, para esta umidade, o valor da medida do sensor é equivalente.
			    <li>Repetir esse procedimento para amostra de 100 gramas de solo com 10, 15, 20, 25, 30, 40, 50 e 60 gramas adicionais de água destilada, e incluir esses valores no sistema na parte de calibração do sistema.
        </ol>
        <p>&nbsp;</p>
      </div>

<br>
      <div class='row buttons'>
        <button class='btn waves-effect waves-light toggle__button4 js-toggle__button4' type='button'>Iniciar Medi&ccedil;&otilde;es
          <i class='material-icons right'>swap_vert</i>
        </button>
      </div>

      <div style="display: none;" class="toggle__text4 js-toggle__text4">
        <p>O botão "Iniciar Medições" irá enviar um comando para o veículo iniciar as medições. É necessário posicionar o veículo no ponto inicial de percurso.
      </div>
    </form>
  </div>
</div>
