<!DOCTYPE html>
<html>

<style>
  #titulo {
    padding-left: 5%;
    padding-right: 5%;
  }
  #botao {
    padding-left: 90%;
  }
</style>

  <div class="content measurements">
    <div id="titulo">
      <h4>
        <i class="material-icons prefix"></i>
        <span>Pontos de Umidade do Ar || Mapa de Calor</span>
      </h4>
    </div>
  </div>

  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>

    <style>
      #map {
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
      }
      html {
        height: 100%;
        /*margin-left: 10%;*/
        padding: 0;
      }
      body {
        height: 75%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>
    <div id="map"></div>
  </body>

  <div id="botao">
    <%= link_to "Voltar", measurements_path, class: 'btn btn-default' %>
  </div>

  <script>

    var map, heatmap;

    function initMap() {

      var i = 0;
      var js_lat = [];
      var js_long = [];
      var js_air_humidity = [];
      var coordinates = [];
      var coordinates_weighted = [];

      var gradient = [
       'rgba(0, 255, 255, 0)',
       'rgba(0, 255, 255, 1)',
       'rgba(0, 191, 255, 1)',
       'rgba(0, 127, 255, 1)',
       'rgba(0, 63, 255, 1)',
       'rgba(0, 0, 255, 1)',
       'rgba(0, 0, 223, 1)',
       'rgba(0, 0, 191, 1)',
       'rgba(0, 0, 159, 1)',
       'rgba(0, 0, 127, 1)',
       'rgba(63, 0, 91, 1)',
       'rgba(127, 0, 63, 1)',
       'rgba(191, 0, 31, 1)',
       'rgba(255, 0, 0, 1)'
     ]

      for (i = 0; i < 10 ; i++){
        js_lat[i] = <%= @js_lat %>[i];
        js_long[i] = <%= @js_long %>[i];
        js_air_humidity[i] = <%= @js_air_humidity %>[i];

        coordinates[i] = new google.maps.LatLng(js_lat[i], js_long[i]);
        coordinates_weighted[i] = {location: coordinates[i], weight: js_air_humidity[i]};
      }

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 21,
        center: {lat: js_lat[0], lng: js_long[0]},
        disableDefaultUI: true,
        zoomControl: true,
        mapTypeId: 'satellite',

      });

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: coordinates_weighted,
        map: map,
        radius: 25,
        opacity: 1
      });

      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }


  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuUKw5Dpn72KHksmdOvPHKA6PVfo2jVhc&libraries=visualization&callback=initMap">
  </script>
