/*GENERAL STYLE =======================================*/
html, body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;

  h4 {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
  }
}


.nav-wrapper {
  padding: 0px 20px 0px 20px;

}

/*INDEX STYLE =========================================*/

.index-container {
  text-align: center;
  background: whitesmoke;
  height: 100%;
  margin-bottom: 0px;

  a {
    color: #26a69a;
  } 

  i {
    font-size: 150px !important;
    padding-top: 5px;
  }

  p {
    font-size: 20px;
    margin: 0px
  }

  div.card {
    background: white;
    border-radius: 20px;
  }
}

/*GENERAL CONFIG STYLE =========================================*/

.general-config {
}

.general-config > div {
  border-bottom: 2px solid green;
}

.description {
  font-size: 14px;
}

.general-config .buttons {
  font-size: 12px;
}

.general-config .buttons .restore {
  margin-left: 2px;
}

/*MEANSUREMENTS LIST STYLE ============================*/

.meansurements .table-header {
  margin-bottom: 70px;
}

.meansurements .table-body {
  text-align: center;
}

.meansurements .list-item {
  width: 50%;
  border-bottom: 2px solid green;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 26px;
}

.meansurements .list-item .date {
  padding: 0px 15px 0px 15px;
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.meansurements .list-item .rank {
  padding-right: 30px;
}

.meansurements .item-options {
  margin-left: 45px;
}



