/*GENERAL STYLE =======================================*/
html, body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;

  h4 {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
  }
}

.nav-wrapper {
  padding: 0px 20px 0px 20px;

  i {
    font-size: 2em;
    margin-right: 10px;
    border-right: 1px;
  }

}

/*INDEX STYLE =========================================*/

.index-container {
  text-align: center;
  background: whitesmoke;
  height: 100%;
  padding: 1em 0 0 0;
  margin-bottom: 0px;

  a {
    color: #26a69a;
  } 

  i {
    font-size: 10em;
    padding-top: 5px;
  }

  p {
    font-size: 1.2em;
    margin: 0px
  }

  div.cards {
    margin: auto;

    div.row {
      margin: 0px;
    }
  }

  div.card {
    box-shadow: 0px 0px 30px grey;
    background: white;
    border-radius: 20px;
  }

  div.row .col.m5.l5.pos1 {
    margin-right: 10px;
  }

  div.row .col.m5.l5.pos2 {
    margin-left: 10px;
  }

  div.secondary-menu{
    a {
      color: black;
    }
    div {
      display: flex;
      justify-content: center;
    }

    div.start {
      box-shadow: 0px 0px 30px green;
      background: lightgreen;
    }

    div.status-connected, div.start {
      box-shadow: 0px 0px 30px green;
      background: lightgreen;
    }

    div.status-disconnected {
      box-shadow: 0px 0px 30px grey;
      background: grey;
    }
    
    i {
      font-size: 3em;
    }
    p {
      margin-left: 0.4em;
      padding: 1%;
      font-size: 2em;

    }
  }
}

/*GENERAL CONFIG STYLE =========================================*/

.general-config-container {
  margin: 2em 10em 0em 10em; 
  p.description {
    font-size: 1em;
  }

  div.sep {
    border-bottom: 1px solid green;
  }

  .buttons {
    clear: both;
    font-size: 0.8em;
  }

}

/*measurements LIST STYLE ============================*/

.measurements .table-header {
  margin-bottom: 70px;
}

.measurements .table-body {
  text-align: center;
}

.measurements .list-item {
  width: 50%;
  border-bottom: 2px solid green;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 26px;
}

.measurements .list-item .date {
  padding: 0px 15px 0px 15px;
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.measurements .list-item .rank {
  padding-right: 30px;
}

.measurements .item-options {
  margin-left: 45px;
}



