/*GENERAL STYLE =======================================*/
html, body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;

  h4 {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
  }
}


.nav-wrapper {
  padding: 0px 20px 0px 20px;

}

/*INDEX STYLE =========================================*/

.index-container {
  text-align: center;
  background: whitesmoke;
  height: 100%;
  padding: 1em 0 0 0;

  a {
    color: #26a69a;
  } 

  i {
    font-size: 10em !important;
    padding-top: 5px;
  }

  p {
    font-size: 1.2em;
    margin: 0px
  }

  div.cards {
    width: 80%;
    height: 100%;
    margin: auto;

  }

  div.card {
    background: white;
    border-radius: 20px;
  }
}

/*GENERAL CONFIG STYLE =========================================*/

.general-config-container {
  margin: 2em 10em 0em 10em; 
  p.description {
    font-size: 1em;
  }

  div.sep {
    border-bottom: 1px solid green;
  }

  .buttons {
    clear: both;
    font-size: 0.8em;
  }

}

/*MEANSUREMENTS LIST STYLE ============================*/

.meansurements .table-header {
  margin-bottom: 70px;
}

.meansurements .table-body {
  text-align: center;
}

.meansurements .list-item {
  width: 50%;
  border-bottom: 2px solid green;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 26px;
}

.meansurements .list-item .date {
  padding: 0px 15px 0px 15px;
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.meansurements .list-item .rank {
  padding-right: 30px;
}

.meansurements .item-options {
  margin-left: 45px;
}



