/*GENERAL STYLE =======================================*/

.content {
  padding: 5px 150px 0px 150px;
  height: 100%;
}

h4 {
  border-bottom: 2px solid green;
  padding-bottom: 5px;
}

.nav-wrapper {
  padding: 0px 20px 0px 20px;

}

/*INDEX STYLE =========================================*/

.sep {
  border-right: 2px solid green;
  height: inherit;
}

.index-container {
  margin-top: 50px;
  text-align: center;
}

.index-container i {
  font-size: 150px !important;
  padding-top: 5px;
}

.index-container p {
  font-size: 20px;
  margin: 0px
}

.general-config {
  border-radius: 20px;
  background: whitesmoke;
}

.sensor-config {
  margin-top: 15px;
  border-radius: 20px;
  background: whitesmoke;
}

.index-container .measurements {
  border-radius: 20px;
  background: whitesmoke;
}

.manuals {
  margin-top: 15px;
  border-radius: 20px;
  background: whitesmoke;
}




/*CONFIG STYLE =========================================*/

.general-config {
}

.general-config > div {
  border-bottom: 2px solid green;
}

.description {
  font-size: 14px;
}

.general-config .buttons {
  font-size: 12px;
}

.general-config .buttons .restore {
  margin-left: 2px;
}

/*measurements LIST STYLE ============================*/

.measurements .table-header {
  margin-bottom: 70px;
}

.measurements .table-body {
  text-align: center;
}

.measurements .list-item {
  width: 50%;
  border-bottom: 2px solid green;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 26px;
}

.measurements .list-item .date {
  padding: 0px 15px 0px 15px;
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.measurements .list-item .rank {
  padding-right: 30px;
}

.measurements .item-options {
  margin-left: 45px;
}



